<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mail Checker</title>

    <!-- core CSS -->
    <link href="./css/bootstrap.min.css" rel="stylesheet">
    <link href="./css/font-awesome.min.css" rel="stylesheet">
    <link href="./css/animate.min.css" rel="stylesheet">
    <link href="./css/prettyPhoto.css" rel="stylesheet">
    <link href="./css/main.css" rel="stylesheet">
    <link href="./css/responsive.css" rel="stylesheet">
</head><!--/head-->

<body class="homepage" style="background-color:#f2f2f2;">

<header id="header">
    <div class="top-bar">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-xs-4">
                    <div class="top-number"><p><i class="fa fa-envelope"></i> Mail checker  <span id="version">v0.1.0</span></p></div>
                </div>
                <div class="col-sm-6 col-xs-8">
                    <div class="social">
                        <ul class="social-share">
                            <li><a href="#" id="close"><i class="fa fa-times-circle"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div><!--/.container-->
    </div><!--/.top-bar-->

</header><!--/header-->
<section id="middle">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 wow center">
                <div class="skill">
                    <h2>Mail Checker</h2>
                    <p>V0.1.0</p>
                    <button type="button" name="submit" class="btn btn-primary btn-lg" required="required" id="file">Sélectionnez un fichier csv</button>
                </div>
            </div>

        </div><!--/.row-->
        <div class="row">

            <div class="col-sm-12 wow">
                <div class="skill">
                    <div class="progress-wrap">
                        <h3><span id="progress_txt">0/100000</span></h3>
                        <div class="progress">
                            <div class="progress-bar color1" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 85%" id="progress_bar">
                                <span class="bar-width" id="progress_value">80%</span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="alert alert-info" role="alert" id="progress_text"></div>
        </div>
    </div><!--/.container-->
</section>
<script src="../js/index.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>